<html>
    <body>
        <p>El servicio buscado <strong>{{query}}</strong></p>
        
        {% if servicios %}
            <p>Servicios encontrados: {{servicios|length}} servicios</p>

            <ul>
                {% for servicio in servicios %}
                    <li>
                        {{servicio.nombre}} &nbsp;
                        {{servicio.especialidad}} &nbsp;
                        {{servicio.precio}} &nbsp;
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No se encontro resultados</p>
        {% endif %}
       
        

    </body>
</html>